.hello-world {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.transaction-item, .entity-item {
    -fx-padding: 0.5em;
}

.entity-item {
    -fx-pref-width: 20em;
    -fx-max-width: 20em;
}

.focused-item {
    -fx-background-color: #d0d0d0;
}

.transaction-item {
    -fx-border-style: dashed;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #777777;
}

.transaction-item:hover, .entity-item:hover {
    -fx-background-color: #d0d0d0;
}

.transaction-item-content {
    -fx-alignment: center;
    -fx-pref-height: 6em;
    -fx-padding: 0.5em;
}

.entity-item-content {
    -fx-font-size: 1.5em;
    -fx-alignment: center;
    -fx-pref-height: 2em;
    -fx-padding: 0.5em;
}

.transaction-item-1st-row {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.transaction-item-tag {
    -fx-end-margin: 1em;
}

.add-transaction, .add-entity {
    -fx-padding: 1.5em;
}

.add-transaction-row, .add-entity-row {
    -fx-padding: 0.5em;
}

.add-transaction-field, .add-entity-field {
    -fx-pref-width: 30em;
}

.add-transaction-note-preview {
    -fx-padding: 0 0.5em 0 0.5em;
}

.add-transaction-note {
    -fx-pref-width: 30em;
    -fx-pref-height: 25em;
    -fx-min-height: 25em;
    -fx-max-height: 25em;
}

.add-transaction-message, .add-entity-message {
    -fx-font-weight: bold;
    -fx-text-fill: #ff0000;
}

.model-row {
    -fx-padding: 1em;
}

.model-title {
    -fx-font-weight: bold;
    -fx-font-size: 2em;
    -fx-padding: 1em;
}

.decryption-vbox {
    -fx-padding: 1em;
}

.decryption-hbox {
    -fx-padding: 0.25em;
}

.decryption-account-label {
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-font-size: 1.5em;
}

.decryption-account-combobox {
}

.decryption-account-password {
}

.decryption-account-decrypt {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-padding: 0;
}

.decryption-account-import-field {
}

.decryption-account-import-button {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-padding: 0;
}

.incorrect-password {
    -fx-text-fill: #ff0000;
}

.pagination {
    -fx-page-information-visible: false;
    -fx-max-height: 1em;
    -fx-pref-height: 1em;
}

.space {
    -fx-pref-height: 1em;
    -fx-pref-width: 1em;
}

.setting-title {
    -fx-font-weight: bold;
    -fx-font-size: 2em;
    -fx-padding: 1em;
}

.setting-line {
    -fx-padding: 0.5em 2em 0.5em 2em;
}

.setting-field-name {
    -fx-pref-width: 15em;
    -fx-min-width: 15em;
}

.setting-account-field {
    -fx-alignment: center-right;
    -fx-pref-width: 25em;
    -fx-min-width: 10em;
}

.setting-path-field {
    -fx-alignment: center-right;
    -fx-pref-width: 25em;
}

.setting-path-field-select {
    -fx-pref-width: 5em;
    -fx-min-width: 5em;
}

.setting-field {
    -fx-alignment: center-right;
}

.setting-field-button {
    -fx-min-width: 15em;
    -fx-pref-width: 30em;
}

.setting-require-restart-outer {
    -fx-padding: 0.375em 1.375em 0.375em 1.375em;
}

.setting-require-restart {
    -fx-border-width: 0.125em;
    -fx-border-color: #ff0000;
    -fx-border-style: dashed;
    -fx-border-radius: 0.5em;
}

.setting-require-restart .setting-line {
    -fx-padding: 0.5em 0.5em 0.5em 0.5em;
}

.setting-sub-form {
    -fx-border-width: 1px;
    -fx-border-color: #000000;
    -fx-border-style: solid;
    -fx-border-radius: 0.5em;
}

.setting-sub-form .setting-line {
    -fx-padding: 0.5em;
}

.setting-sub-title {
    -fx-font-weight: bold;
    -fx-font-size: 1.6em;
    -fx-padding: 0.5em;
}

.setting-field-password {
    -fx-pref-width: 30em;
    -fx-min-width: 15em;
}

.add-transaction-error {
    -fx-padding: 0 8 0 0;
    -fx-text-fill: red;
    -fx-font-size: 12px;
    -fx-font-weight: bold; 
    -fx-translate-y: 6px;
}
