.hello-world {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.transaction-item, .entity-item {
    -fx-padding: 0.5em;
}

.entity-item {
    -fx-pref-width: 20em;
    -fx-max-width: 20em;
}

.transaction-item {
    -fx-border-style: dashed;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #777777;
}

.transaction-item:hover, .entity-item:hover {
    -fx-background-color: #d0d0d0;
}

.transaction-item-content {
    -fx-alignment: center;
    -fx-pref-height: 6em;
    -fx-padding: 0.5em;
}

.entity-item-content {
    -fx-font-size: 1.5em;
    -fx-alignment: center;
    -fx-pref-height: 2em;
    -fx-padding: 0.5em;
}

.transaction-item-1st-row {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.transaction-item-tag {
    -fx-end-margin: 1em;
}

.add-transaction, .add-entity {
    -fx-padding: 1.5em;
}

.add-transaction-row, .add-entity-row {
    -fx-padding: 0.5em;
}

.add-transaction-field, .add-entity-field {
    -fx-pref-width: 30em;
}

.add-transaction-message, .add-entity-message {
    -fx-font-weight: bold;
    -fx-text-fill: #ff0000;
}

.model-row {
    -fx-padding: 1em;
}

.model-title {
    -fx-font-weight: bold;
    -fx-font-size: 2em;
    -fx-padding: 1em;
}

.decryption-vbox {
    -fx-padding: 1em;
}

.decryption-hbox {
    -fx-padding: 0.25em;
}

.decryption-account-label {
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-font-size: 1.5em;
}

.decryption-account-combobox {
}

.decryption-account-password {
}

.decryption-account-decrypt {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-padding: 0;
}

.decryption-account-import-field {
}

.decryption-account-import-button {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-padding: 0;
}

.incorrect-password {
    -fx-text-fill: #ff0000;
}

.pagination {
    -fx-page-information-visible: false;
    -fx-max-height: 1em;
    -fx-pref-height: 1em;
}

.space {
    -fx-pref-height: 1em;
    -fx-pref-width: 1em;
}